ul {
  padding         : 0 10px 0 10px;
  height          : 100%;
  display         : flex;
  justify-content : flex-start;
  flex-direction  : column;
  overflow-y      : scroll;
}

ul.list-container {
  padding-bottom : 70px;
}

ul.list-container::-webkit-scrollbar {
  width      : 5px;
  background : var(--dark_blue);
}

ul.list-container::-webkit-scrollbar-thumb {
  background : #607D8B;
}

ul.list-container li {
  padding            : 7px 35px;
  cursor             : pointer;
  min-height         : 120px;
  flex-shrink        : 0;
  position           : relative;
  display            : flex;
  flex-direction     : column;
  justify-content    : space-between;
  text-align         : justify;
  background         : var(--night_blue);
  color              : var(--white);
  border-radius      : 3px;
  box-shadow         : 0 0 5px 0 rgb(23, 24, 28);
  -webkit-transition : .1s ease-in-out;
  -moz-transition    : .1s ease-in-out;
  -ms-transition     : .1s ease-in-out;
  -o-transition      : .1s ease-in-out;
  transition         : .1s ease-in-out;
}

ul.list-container li:hover {
  box-shadow         : 0 0 7px 1px rgb(23, 24, 28);
  -webkit-transition : .1s ease-in-out;
  -moz-transition    : .1s ease-in-out;
  -ms-transition     : .1s ease-in-out;
  -o-transition      : .1s ease-in-out;
  transition         : .1s ease-in-out;
}

ul.list-container li:nth-child(even) { margin : 10px 0; }

ul.list-container li p.task {
  max-height    : 350px;
  overflow      : hidden;
  overflow-y    : scroll;
  padding-right : 7px;
}

ul.list-container li p.task::-webkit-scrollbar { width : 5px; }

ul.list-container li p.task::-webkit-scrollbar-thumb { background : #607D8B; }

div.button {
  position           : absolute;
  top                : 10px;
  right              : 10px;
  opacity            : 0;
  -webkit-transition : .3s ease-in-out;
  -moz-transition    : .3s ease-in-out;
  -ms-transition     : .3s ease-in-out;
  -o-transition      : .3s ease-in-out;
  transition         : .3s ease-in-out;
}

ul.list-container li:hover div.button {
  opacity            : 1;
  -webkit-transition : .3s ease-in-out;
  -moz-transition    : .3s ease-in-out;
  -ms-transition     : .3s ease-in-out;
  -o-transition      : .3s ease-in-out;
  transition         : .3s ease-in-out;
}


div.button svg { pointer-events : none; }

div.list-wrapper {
  width       : 45vw;
  height      : 100%;
  padding-top : 10px;
}

div.list-wrapper:nth-of-type(1) { margin-right : calc(10vw - 50px); }