ul.list-container li {
  background : antiquewhite;
  display    : table;
  margin     : 10px;
  padding    : 15px;
  cursor     : pointer;
}

ul.list-container li p {
  pointer-events : none;
}

button {
  padding: 15px;
}

div.list-wrapper {
  width: calc(100% - 50px);
  position: absolute;
  left: 50px;
  top: 0;
}