form {
  position    : absolute;
  z-index     : 10;
  top         : 0;
  left        : 0;
  width       : 30vw;
  height      : 100vh;
  padding-top : 50px;
  background  : aquamarine;
  transition  : 0.5s;
}

form.close {
  left       : -100%;
  transition : 0.5s;
}

textarea {
  display   : block;
  width     : 80%;
  height    : 100px;
  margin    : 0 auto 10px;
  padding   : 10px;
  font-size : 16px;
}

input {
  display : table;
  margin  : 0 auto;
}

input[type="datetime-local"] {
  padding   : 10px;
  width     : 50%;
  font-size : 14px;
}

input[type="submit"] {
  margin-top : 10px;
  padding    : 8px 20px;
  border     : none;
  font-size  : 15px;
}

div.close_btn {
  position : absolute;
  top      : 10px;
  right    : 10px;
}