aside {
  background : var(--night_blue);
  width      : 50px;
  height     : 100vh;
}


nav {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  height          : 15%;
}

nav ul { justify-content: center; }

nav ul::-webkit-scrollbar {
  width: 0;
}

li {
  text-align : center;
  cursor     : pointer;
}

nav ul li:nth-child(odd) { margin-bottom: 10px; }

li img { width: 24px; }